@model BLOBDownload.Models.Blob

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Blob</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContainerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContainerName)
            @Html.ValidationMessageFor(model => model.ContainerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FileName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FileName)
            @Html.ValidationMessageFor(model => model.FileName)
        </div>

        <p>
            <input type="submit" value="Access CDN content" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


