@model List<DMP.Models.Profile>
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following: @Model.Count</h3>
<div class="row">
    <div class="well-lg">
    @foreach (var p in Model)
    {
        <div class="col-lg-2">
            <div class="member-ad">
                <img src="@p.Photos.First(x=>x.IsMain).Url" class="img-circle img-responsive" alt="@p.Photos.First(x=>x.IsMain).Description" />
                <div><strong>Looking For:</strong>@p.LookingFor...</div>
            </div>
        </div>
    }</div>
</div>
