@model IEnumerable<RU.Models.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student enrollment statistics";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(x=>x.EnrollmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(x=>x.StudentCount)
        </th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr><td>
                @Html.DisplayFor(x => item.EnrollmentDate)
            </td><td>
                     @item.StudentCount
                 </td></tr>
    }
</table>