<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-route.min.js"></script>
        <script src="~/Content/app/main.js"></script>
        <script src="~/Content/app/service.js"></script>
        <script src="~/Content/app/Ctrl.js"></script>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</htmlng-app>
